<nav id="navigation" class="navbar navbar-expand-lg">
  <a class="navbar-brand logoText" routerLink="Home">Galleriana</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="mainNav">
      <li class="navItem">
        <a routerLink="Home" routerLinkActive="activeLink">Home</a>
      </li>
      <li class="navItem">
        <a routerLink="Create" routerLinkActive="activeLink">Create</a>
      </li>
      <li class="navItem" *ngIf="userIsLogged()">
        <a routerLink="MyExhibitions" routerLinkActive="activeLink">My exhibitions</a>
      </li>
      <li class="navItem" *ngIf="userIsLogged()">
        <a routerLink="Collection" routerLinkActive="activeLink">Collection</a>
      </li>
    </ul>
    <div class="dropdown">
      <button class="btn btn-cart dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       <mat-icon>add_shopping_cart</mat-icon>
      </button>
      <app-cart class="dropdown-menu cart" aria-labelledby="dropdownMenuButton">
       
      </app-cart>
    </div>
    <app-header-status>
      <ng-container authorized>
        <div class="dropdown">
          <button class="btn signIn dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            {{getUsername()}}
          </button>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownMenuButton" id="profileMenu">
            <li><a class="dropdown-item dropwonItem" routerLink="Account">Account</a></li>
            <li><a class="dropdown-item dropwonItem" *ngIf="adminPermission()" routerLink="Users">Users</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item dropwonItem" routerLink="" (click)="Logout()">Sign out</a></li>
          </ul>
        </div>
      </ng-container>
      <ng-container unauthorized>
        <button class="btn signIn" routerLink="Login">Sign in</button>
      </ng-container>
    </app-header-status>

  </div>
</nav>
<router-outlet></router-outlet>