/* Peach #FCEDDA, Burnt Orange #EE4E34 */

#navbarSupportedContent {
  justify-content: flex-end;
}

.mainNav {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  /* margin-right: 8px; */
  list-style: none;
}

.navItem {
  line-height: 40px;
  font-size: 1.1em;
  margin-right: 7px;
}

.navItem:hover {
  background-color: #ee4e34;
}

.navItem > a {
  text-decoration: none;
  color: #fcedda;
  padding: 8px;
  /* height: 40px; */
  font-weight: 500;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: relative;
}

.navItem > a::before {
  content: "";
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #fcedda;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.navItem > a:hover::before {
  width: 95%;
}

.navItem > .activeLink::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 95%;
  height: 4px;
  background-color: #fcedda;
  margin-left: 5px;
}

#profileMenu {
  margin-left: -75px;
  background-color: #fcedda;
}

.dropwonItem {
  color: #783937;
}

.dropwonItem:hover {
  color: #fcedda;
  background-color: #783937;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #783937;
}

#navigation {
  height: 65px;
  background-color: #ee4e34;
}

.signIn {
  background-color: #783937;
  color: #fcedda;
  border: 1px solid #fcedda;
  font-size: 18px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.signIn:hover {
  background-color: #fcedda;
  color: #783937;
  font-size: 20px;
}

.logoText {
  color: #fcedda;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.btn-cart{
  background-color: transparent;
  border: none;
  color: #fcedda;
  margin-right: 10px;
}

.cart {
  width:400px;
  margin-left: -250px;
  background-color: #F7F8FB;
  max-height: 400px;
  padding: 0 4px 0;
  overflow: scroll;
}