/* Peach #FCEDDA, Burnt Orange #EE4E34 , #783937*/

#filter {
  height: 100%;
}
#filterHeader {
  height: 65px;
  background-color: #f7f8fb;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

#filterTitle {
  color: #000000;
  font-size: 20px;
  font-weight: 500;
  width: 35%;
  padding-left: 10px;
  position: relative;
}

#filterTitle::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 20%;
  height: 4px;
  background-color: #783937;
  margin-left: 5px;
  -o-transition: 0.5s;
  -ms-transition: 0.5s;
  -moz-transition: 0.5s;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#filterTitle:hover::before {
  width: 60%;
}

#filterReset {
  width: 55%;
  color: #ee4e34;
  text-align: end;
  padding-right: 10px;
  font-size: 15px;
  cursor: pointer;
  border-color: none;
}

.botomLine {
  border-bottom: 1px solid #bebebe;
  padding: 8px;
}

.category {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 30px;
}

.expandCategory {
  width: 10%;
  position: relative;
  text-decoration: none;
}
.expandCategory::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(50% - 2px);
  width: 80%;
  height: 4px;
  background-color: #783937;
}

.filterBtn {
  background-color: #ee4e34;
  color: #fcedda;
  align-self: flex-end;
  margin-right: 10px;
}

#collapseBudget > label {
  margin-right: 6px;
}

.priceInput {
  display: inline-block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
  margin-right: 10px;
}
.nameInput {
  display: inline-block;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 10px;
}

label {
  margin-right: 5px;
  font-size: 14px;
  color: #783937;
  font-weight: 400;
}

.category > span {
  color: #ee4e34;
  font-weight: 500;
}

.check-box {
  background-color: #fcedda;
  color: #783937;
  padding: 3px 5px;
  border-radius: 5px;
  margin-bottom: 3px;
}
.check-box:hover {
  background-color: #783937;
  color: #fcedda;
}

.check-box > input {
  margin-right: 3px;
}

.unchecked {
  background-color: #fcedda;
  color: #783937;
}

.checked {
  background-color: #783937;
  color: #fcedda;
}

.botomLine:last-child {
  border-bottom: none;
}
