<div id="account">
    <div id="accountDetails">
        <div class="exhibitionCover">
            <img [src]="user?.profilePicture">
            <div class="image-input-form">
                <input class="form-control btn btn-upload" type="file" id="file" aria-describedby="file"
                    (change)="fileInput($event)" required>
                    <span (click)="saveImage()" class="set-cover-link">save image...</span>
            </div>
        </div>
        <div id="userInfo">
            <h1>{{user?.firstName}} {{user?.lastName}}</h1>
            <h4>{{user?.userName}}</h4>
            <div id="contact">
                <p>{{user?.email}}</p>
                <p>{{user?.phone}}</p>
            </div>
            <div id="roles">
                <span *ngFor="let role of user?.roles">{{role}} </span>
            </div>
            <p id="biography">{{user?.biography}}</p>
        </div>
    </div>
    <div id="editAccount">
        <div id="itemDetails">
            <form [formGroup]="userDetails" *ngIf="userDetails" (ngSubmit)="saveChanges()">
                <div class="form-group">
                    <label class="field">First name</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="firstName">
                        <p class="error-message" *ngIf="userDetails.get('firstName')?.invalid">*First name is required!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Last name</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="lastName">
                        <p class="error-message" *ngIf="userDetails.get('lastName')?.invalid">*Last name is required!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Email</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="email">
                        <p class="error-message" *ngIf="userDetails.get('email')?.invalid">*Email is required!</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Phone</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="phone">
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Biography</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="biography">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-save" [disabled]="!userDetails.valid">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>