<div id="LoginForm" >
    <div class="container">
        <div class="login-form">
            <div class="main-div">
                <div class="panel">
                    <h2>Sign up</h2>
                    <p>Please enter your credentials</p>
                </div>
                <span *ngIf="errorMessage != null" class="error-message">{{errorMessage}}</span>
                <form id="Login" [formGroup]= "registrationDetails" (ngSubmit)="Register()">
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputFirstname" placeholder="First name" formControlName="firstname">
                        <span *ngIf="registrationDetails.get('firstname')?.invalid && registrationDetails.get('firstname')?.touched">Firstname is required!</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputLastname" placeholder="Last name" formControlName="lastname">
                        <span class="errorSpan" *ngIf="registrationDetails.get('lastname')?.invalid && registrationDetails.get('lastname')?.touched">Lastname is required!</span>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inputUsername" placeholder="Username" formControlName="username">
                        <span class="errorSpan" *ngIf="registrationDetails.get('username')?.invalid && registrationDetails.get('username')?.touched">Username is required!</span>
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email address" formControlName="email">
                        <span class="errorSpan" *ngIf="registrationDetails.get('email')?.invalid && registrationDetails.get('email')?.touched">Email is required!</span>
                    </div>
                    <div class="form-group">
                        <input type="password" minlength="8" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
                        <span class="errorSpan" *ngIf="registrationDetails.get('password')?.invalid && registrationDetails.get('password')?.touched">Password is required!</span>
                    </div>
                    <button type="submit" class="btn btn-primary" [disabled]="!registrationDetails.valid">Create account</button>
                    <div id="formFooter"><span>Already have an account?</span><a routerLink="/Login">Sign in</a></div>
                </form>
            </div>
        </div>
    </div>
</div>
