#LoginForm {
  background-color: #fcedda;
  padding: 10px;
  height: 100%;
}

.form-heading {
  color: #fff;
  font-size: 23px;
}
.panel h2 {
  color: #444444;
  font-size: 18px;
  margin: 0 0 5px 0;
}
.panel p {
  color: #777777;
  font-size: 14px;
  line-height: 24px;
}
.login-form .form-control {
  background: #f7f7f7 none repeat scroll 0 0;
  border: 1px solid #d4d4d4;
  border-radius: 4px;
  font-size: 14px;
  height: 50px;
  line-height: 50px;
}
.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;
}

.login-form .form-group {
  margin-bottom: 10px;
}
.login-form {
  text-align: center;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}
.login-form .btn.btn-primary {
  background: #783937 none repeat scroll 0 0;
  border-color: #783937;
  color: #ffffff;
  font-size: 14px;
  width: 100%;
  height: 50px;
  line-height: 50px;
  padding: 0;
}
.forgot {
  text-align: left;
  margin-bottom: 30px;
}
.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}
.login-form .btn.btn-primary.reset {
  background: #078d86 none repeat scroll 0 0;
}
.back {
  text-align: left;
  margin-top: 10px;
}
.back a {
  color: #444444;
  font-size: 13px;
  text-decoration: none;
}

.form-group {
  text-align: left;
  font-size: 12px;
  color: red;
}

#formFooter {
  margin-top: 10px;
}

#formFooter > span {
  font-size: 14px;
  margin-right: 7px;
  color: #908f8f;
}

#formFooter > a {
  color: #ee4e34;
  font-weight: 500;
}

.panel > h2 {
  font-size: 25px;
  font-weight: 500;
}

.error-message {
  color: #f00;
  font-size: 14px;
  margin-bottom: 12px;
}
