<div class="flex">
  <div id="user-details" *ngIf="user != null">
    <div class="user-profile-picture">
      <img [src]="user?.picture">
    </div>
    <div id="user-info">
      <h1>{{user?.firstname}} {{user?.lastname}}</h1>
      <h4>{{user?.username}}</h4>
      <div id="contact">
        <p>{{user?.email}}</p>
      </div>
      <div id="roles">
        <label>Roles:</label>
        <span *ngFor="let role of user?.roles" class="role">{{role}} </span>
      </div>

      <select [(ngModel)]="_role" style="margin-right: 15px;" class="form-control">
        <option *ngFor="let role of roles">{{role}}</option>
      </select>
      <button type="button" class="btn btn-save" (click)="Promote(user.username)"
        style="margin-right: 10px;">Promote</button>
      <button type="button" class="btn btn-danger" (click)="Demote(user.username)">Demote</button>
    </div>
  </div>

  <div class="flex p-3">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Picture</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users" >
          <td>{{user.firstname}}</td>
          <td>{{user.lastname}}</td>
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td><img [src]="user?.picture" alt="Profile picture..."></td>
          <td><button class="btn btn-details" (click)="SelectedUser(user)">Details</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>