<div id="editContainer">
    <div id="exhbitionDetails">
        <div class="detailsHeader">
            <h3 class="detailsTitle">Exhibition details</h3>
            <hr>
        </div>
        <div id="exhbitionForm">
            <div class="exhibitionCover">
                <div class="cover">
                    <div *ngIf="exhibition?.cover == null; then nocover else cover"></div>
                    <ng-template #cover>
                        <img [src]="exhibition.cover">
                    </ng-template>
                    <ng-template #nocover>
                        <img [src]="imagePlaceholder">
                    </ng-template>
                </div>
            </div>
            <form [formGroup]="exhibitionDetails" *ngIf="exhibitionDetails" (ngSubmit)="editDetails()">
                <div class="form-group">
                    <label class="field">Title</label>
                    <div class="input-field">
                        <input class="form-control" type="text" formControlName="title">
                        <p class="error-message" *ngIf="exhibitionDetails.get('title')?.invalid && exhibitionDetails.get('title')?.touched">*Title is required!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Description</label>
                    <div class="input-field">
                        <textarea class="form-control" type="text" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="field">Date</label>
                    <div class="input-field">
                        <input class="form-control" type="datetime-local" formControlName="date">
                        <p class="error-message" *ngIf="exhibitionDetails.get('date')?.invalid">*Date is required!</p>
                    </div>
                </div>
                <div id="detailsTopics">
                    <label for="startingDate" class="field">Select tags</label><br>
                    <label *ngFor="let topic of topics" class="check-box"
                        [ngClass]='{"checked":topic.isAssigned}' (click)="addTopic(topic)">
                        <span>{{topic.name}}</span>
                    </label>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-new" [disabled]="!exhibitionDetails.valid">Save
                        changes</button>
                </div>
            </form>
        </div>
    </div>
        <div id="imageDisplay">
            <div *ngFor="let item of exhibition?.items" class="toggleModal" [ngClass]='{"invalid-dimensions": item.dimensions.length == 0}' (click)="setItem(item)">
                <img src="{{item.image}}" />
            </div>
        </div>
        <div id="editItem">
            <div class="detailsHeader">
                <div class="details-header-info">
                    <h3 class="detailsTitle">Image details</h3>
                    <button class="btn btn-new" (click)="newItem()"><mat-icon>add_a_photo</mat-icon></button>
                </div>
                <hr>
            </div>
            <div id="itemDetails">
                <div class="exhibitionCover">
                    <div class="cover">
                        <img [src]="imageURL" data-toggle="modal" data-target="#exampleModal">
                    </div>
                </div>

                <input class="form-control btn btn-upload" type="file" id="file" aria-describedby="file"
                    (change)="fileInput($event)" required>
                <hr>
                <div class="form-group">
                    <label class="field">Name</label>
                    <input class="form-control" type="text" [(ngModel)]="itemVM.name" value="{{itemVM.name}}">
                    <p class="error-message" *ngIf="!itemVM.name">*Name is required</p>
                </div>
                <div class="form-group">
                    <label class="field">Description</label>
                    <textarea type="text" class="form-control" [(ngModel)]="itemVM.description"
                        value="{{itemVM.description}}" maxlength="450"></textarea>
                </div>
                <div class="form-group">
                    <label class="field">Artist</label>
                    <input class="form-control" type="text" [(ngModel)]="itemVM.creator">
                    <span class="creator-note" *ngIf="itemStatus()">*Leaving blank will set your name as creator</span>
                </div>
                <div class="form-group">
                    <div id="priceDimensions" *ngIf="!itemStatus()">
                        <div class="priceDimensionContainer" style="margin-bottom: 8px;">
                            <div class="itemPrice">
                                <label class="field">Dimensions</label>
                                <input class="form-control" type="text" [(ngModel)]="newDimensions.dimension" required>
                            </div>
                            <div class="itemPrice">
                                <label class="field">Price</label>
                                <input class="form-control" type="number" min="0" [(ngModel)]="newDimensions.price"
                                    required>
                            </div>
                            <button type="button" class="btn btn-dimensions" (click)="addDimensions()"><mat-icon>add_circle_outline</mat-icon></button>
                        </div>
                        <p class="error-message" *ngIf="itemVM.dimensions.length == 0">*Please add dimensions</p>
                        <div class="priceDimensionContainer">
                            <select [(ngModel)]="dimensionId" (change)="dimensionsPrice()" class="form-control"
                                style="width: auto;">
                                <option *ngFor="let dimension of itemVM.dimensions" value="{{dimension.id}}">
                                    {{dimension.dimension}}</option>
                            </select>
                            
                            <p id="priceSelect">{{dimensionVM?.price}} <span>$</span></p>
                            <button type="button" class="btn btn-delete" (click)="removeDimensions()"><mat-icon>delete_forever</mat-icon></button>
                        </div>
                    </div>
                </div>
                <span (click)="setCover()" *ngIf="!isNewItem" class="set-cover-link">set as cover...</span>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-dimensions" (click)="saveImage()">Save changes</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal" *ngIf="!itemStatus()"
                        (click)="removeItem()">Delete</button>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Image preview</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div id="exhbitionForm">
                            <div id="modalImage">
                                <img [src]="imageURL">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>